/* Réinitialiser les marges et les espacements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
}
.header {
    height: 60px;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #18534F !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* ajustez cette valeur en fonction de vos besoins */
    flex-direction: column; /* si vous voulez centrer les éléments dans une colonne */
}

/* Style général du corps du document */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #226D68;
    
}

/* Style de la barre de navigation */
.navbar {
    background-color: #18534F !important;
    color: #226D68;
    padding: 10px;
}

/* Style des titres */
h1, h2, h3, h4, h5, h6 {
    color: black;
    margin-bottom: 20px;
}

/* Style des formulaires */
form {
    background-color: #ECF8F6;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des boutons */
.button, button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Style des tables */
table {
    width: 100%;
    margin-bottom: 20px;
}
table thead tr {
    background-color: #007BFF;
    color: #fff;
}
table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
}
